
.parallax {
    background-image: url("../img/Eldraine-Plains.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*
    <style>
        body {
            background-image: url(img/<?php echo $roomObject->picture; ?>);
            background-size: cover;
            background-position: center;
         }
    </style>
*/